<div class="btn-pos">
    <div>
        <ul class="pagination">
            <li><a href="#" id="page1">1</a></li>
            <li><a href="#" id="page2">2</a></li>
            <li><a href="#" id="page3">3</a></li>
            <li><a href="#" id="page4">4</a></li>
        </ul>
    </div>
    <div>
        <a class="btn btn-primary" href="#" role="button" id="submit">Submit</a>
        <a class="btn btn-primary" href="{% url 'list' %}" role="button" id="submit">List</a>
        <a class="btn btn-primary" href="{% url 'index' %}" role="button">Back</a>
    </div>
</div>
