<form class="form-horizontal 2" id="form-action">
    <div class="form-group skill">
        <h1 style="text-align:center">Create Resume</h1>
        <h1 style="text-align:center">Skill and Qulification</h1>

        <label for="skill" class="col-sm-2 control-label">Skill</label>
        <div class="col-sm-8">
            <div class="input skill">
                <input type="text" class="form-control" skill="skill" id="li-skill-1" placeholder="Java">
            </div>
            <span class="error skill">Skill cannot be empty.<br></span>
        </div>
        <a href="#" class="plus-function"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="#" class="minus-function"><span class="glyphicon glyphicon-minus"></span></a>
    </div>
    <div class="form-group qualification">
        <label for="qualification" class="col-sm-2 control-label">Qualification</label>
        <div class="col-sm-8">
            <div class="input qualification">
            <input type="text" class="form-control" name="qualification" id="li-qualification-1" placeholder="Java certification">

            </div>

            <span class="error qualification">Qualification cannot be empty.</span>
        </div>
        <a href="#" class="plus-function"><span class="glyphicon glyphicon-plus"></span></a>
        <a href="#" class="minus-function"><span class="glyphicon glyphicon-minus"></span></a>
    </div>
</form>
