<!DOCTYPE html> {% extends 'base.html' %} {% load static %}

<html>

<head>
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/resume_view.css' %}"> {% endblock %}
</head>

<body>
    {% block content %}
    <input id="image" type="hidden" value={{ PICTURE_ROOT }} />
    <input id="check" type="hidden" value={{ check }} />
    <div class="{{ slug }}">
        <div class="container a4">
            <div class="inside">
                <div class="row">
                    <div class="pull-left col-sm-2 header">
                        <img src="{{ MEDIA_URL }}{{ img }}" class="img-circle" width="100px" height="100px" />
                    </div>
                    <div class="pull-left col-sm-6">
                        <h2 id="first_name"></h2>
                        <h2 id="last_name"></h2>
                    </div>
                    <div class="pull-right col-sm-4 header">
                        <p id="address"></p>
                        <p id="phone"></p>
                        <p id="email"></p>
                        <p id="web"></p>
                    </div>
                </div>
                <div class="row objective">
                    <h1 class="title">Objective</h1>
                    <div class="tab col-sm-offset-2 col-sm-8">
                        <p id="objective"></p>
                    </div>
                </div>
                <div class="row skill">
                    <h1 class="title">SKILL</h1>
                    <div class="tab sq-skill col-sm-offset-2 col-sm-8">
                    </div>
                </div>
                <div class="row qualification">
                    <h1 class="title">QUALIFICATION</h1>
                    <div class="tab sq-qualification col-sm-offset-2 col-sm-8">
                    </div>
                </div>
                <div class="row experience">
                    <h1 class="title">EXPERIENCE</h1>
                    <div class="tab exp col-sm-offset-2 col-sm-8">
                        <div class="exp-0">
                            <span class="pull-right" id="exp-date-0"></span>
                            <p class="bold" id="jobtype-0"></p>
                            <p id="company_name-0"></p>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="row education">
                    <h1 class="title">EDUCATION</h1>
                    <div class="tab edu col-sm-offset-2 col-sm-8">
                        <div class="edu-0">
                            <div>
                                <span class="pull-right" id="edu-date-0"></span>
                                <p class="bold" id="major-0"></p>
                                <p id="degree-0"></p>
                                <p id="university_name-0" style="display:inline"></p><span id="grade-0"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-offset-3 col-sm-9">
        <h1 class="success">Delete succesful</h1>
        <a class="btn btn-danger" href="#/" role="button" id="pdf">Create PDF</a>
        <a class="btn btn-primary" href="#/" role="button" id="edit">Edit</a>
        <a class="btn btn-primary" href="#/" role="button" id="delete">Delete</a>
        <a class="btn btn-primary" href="{% url 'index' %}" role="button">Back</a>
        <form action="/upload/{{ slug }}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-sm-8">
                <input type="file" name="myfile">
            </div>
            <div class="col-sm-4">
                <button type="submit" id="upload">Upload</button>
            </div>
        </form>
    </div>

    {% endblock %} {% block js %}
    <script src="{% static 'js/resume_view.js' %}"></script>
    {% endblock %}
</body>

</html>
