<form class="form-horizontal 1" id="form-action">
    {% csrf_token %}
    <div class="container pes">
        <div class="form-group">
            <h1 style="text-align:center">Create Resume</h1>
            <h1 style="text-align:center">Personal Information</h1>
            <label for="firstname" class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="firstname" id="pes-firstname" placeholder="John">
                <span class="error">Firstname cannot be empty.<br></span>
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="lastname" id="pes-lastname" placeholder="Lennon">
                <span class="error">Lastname cannot be empty.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="city" class="col-sm-2 control-label">city</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="city" id="pes-city" placeholder="Bangkok">
                <span class="error">City cannot be empty.</span>
            </div>
        </div>
        <div class="form-group">
            <label for="street" class="col-sm-2 control-label">Street</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="street" id="pes-street" placeholder="Seri-thai">
                <span class="error">Street cannot be empty.<br></span>
            </div>
        </div>
        <div class="form-group">
            <label for="district" class="col-sm-2 control-label">District</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="district" id="pes-district" placeholder="Kannayorn">
                <span class="error">District cannot be empty.<br></span>
            </div>
        </div>
        <div class="form-group">
            <label for="sub_district" class="col-sm-2 control-label">Sub district</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="sub_district" id="pes-sub_district" placeholder="Kannayorn">
                <span class="error">Sub district cannot be empty.<br></span>
            </div>
        </div>
        <div class="form-group">
            <label for="zipcode" class="col-sm-2 control-label">Zipcode</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" name="zipcode" id="pes-zipcode" placeholder="10000"></input>
                <span class="error">Zipcode cannot be empty.<br></span>
            </div>
        </div>
        <div class="form-group">
            <label for="web" class="col-sm-2 control-label">Web</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="web" id="pes-web" placeholder="www.google.com"></input>
                <span class="error">Web cannot be empty.<br></span>
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" name="phone" id="pes-phone" placeholder="0801234567"></input>
                <span class="error">Phone number cannot be empty.<br></span>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="email" id="pes-email" placeholder="tam@eiei.com"></input>
                <span class="error">Email cannot be empty.<br></span>
            </div>
        </div>
        <div class="form-group">
            <label for="objective" class="col-sm-2 control-label">Objective</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="objective" id="pes-objective" placeholder="Make thailand great again."></input>
                <span class="error">Objective cannot be empty.<br></span>
            </div>
        </div>
        <div class="form-group">
            <label for="reference" class="col-sm-2 control-label">Reference</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="reference" id="pes-reference" placeholder="References available upon request"></input>
                <span class="error">Reference cannot be empty.<br></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <h1 class="success">Successfully added</h1>
        <h1 class="failure">Please complete the form above. :3</h1>
    </div>
</form>
