.detail{
    padding-left: 30px;
    text-align: left;
    white-space: initial;
}

.icon{
    padding-right: 10px;
    color: white;
}

.label.label-default.data{
    background: white;
    color: black;
}

.panel-heading.clr{
    color: white;
    background: #428bca;
    padding-right: 10px;
}

.panel-heading.clr:hover{
    background: #3071A9;
}

#panel-btn{
    padding-top: 15px;
}