.a4{
    background-color: #d9d9d9;
    color: #d9d9d9
    width: 794px;
    height: 1122px;
}

.right-side{
    text-align: right;
}

.inside{
    padding-right: 40px;
    padding-right: 40px;
}

.title{
    background-color: #d9d9d9;
    text-align: center;
}

.header{
    padding-top: 20px;
}

div p{
    font-size: 14px;
}

span{
    text-decoration: underline;
}

.joblist{
    padding-left: 30px;
}

