<!DOCTYPE html>

{% extends 'base.html' %}

<html>

<body>
    {% block content %}
    <div class="container">
      <div style="text-align:center"><h1>Hello Universe</h1></div>
      <div style="text-align:center"><h3>Power by Supertam</h3></div>
      <a class="btn btn-primary btn-block" href="{% url 'resume' %}" role="button">Create Resume</a>
      <table class="table table-hover">
        <tr>
          <td class="col-sm-6">Create</td>
          <td class="col-sm-6">Santitham Ananwattanaporn</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>8/12/2016</td>
        </tr>
      </table>
      <a class="btn btn-primary" href="{% url 'add' %}" role="button">add</a>
      <a class="btn btn-primary" href="{% url 'list' %}" role="button">list</a>
    </div>
   {% endblock %}
</body>

</html>
