<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

<html>
<body>

    {% block content %}
    <div class="container">
        <div class="col-md-offset-2 col-md-7">
            <h1>List</h1>
            <div class="panel-group" id="accordion">
            {% for i in loop_times %}
                <div class="panel panel-default" id="panel_{{i}}">
                    <div class="panel-heading clr" data-toggle="collapse" data-target="#collapse{{i}}" data-parent="#accordion" style="cursor:pointer">
                        <h3 class="panel-title {{i}} pull-left">Eiei</h3>
                        <div class="pull-right">
                            <a href="#" class="icon" id="edit_{{i}}"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="#" class="icon" id="delete_{{i}}"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="collapse{{i}}" class="panel-collapse collapse">
                        <ul class="list-group">
                            <li class="list-group-item clearfix">
                                <div class="label label-default full-width col-sm-2"><h5>Rating</h5></div>
                                <div class="label label-default data col-sm-10"><h5 class="detail rating {{i}}">5</h5></div>
                            </li>
                            <li class="list-group-item clearfix">
                                <div class="label label-default full-width col-sm-2"><h5>Type</h5></div>
                                <div class="label label-default data col-sm-10"><h5 class="detail jobtype {{i}}">Game developer</h5></div>
                            </li>
                            <li class="list-group-item clearfix">
                                <div class="label label-default full-width col-sm-2"><h5>Income</h5></div>
                                <div class="label label-default data col-sm-10"><h5 class="detail income {{i}}">300</h5></div>
                            </li>
                            <li class="list-group-item clearfix">
                                <div class="label label-default full-width col-sm-2"><h5>Start</h5></div>
                                <div class="label label-default data col-sm-10"><h5 class="detail startDate {{i}}">01/01/16</h5></div>
                            </li>
                            <li class="list-group-item clearfix">
                                <div class="label label-default full-width col-sm-2"><h5>End</h5></div>
                                <div class="label label-default data col-sm-10"><h5 class="detail endDate {{i}}">31/12/16</h5></div>
                            </li>
                            <li class="list-group-item clearfix">
                                <div class="label label-default full-width col-sm-2"><h5>Description</h5></div>
                                <div class="label label-default data col-sm-10"><h5 class="detail description {{i}}">The best company in the world.</h5></div>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
                <div id="panel-btn">
                    <a class="btn btn-primary" href="{% url 'add' %}" role="button">Add</a>
                    <a class="btn btn-primary" href="{% url 'index' %}" role="button">Back</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block js %}
    <script src="{% static 'js/list.js' %}"></script>
    {% endblock %}
</body>
</html>

