<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

<html>

{% block style %}
<link rel="stylesheet" href="{% static 'css/add.css' %}">
<link rel="stylesheet" href="{% static 'css/resume.css' %}">
{% endblock %}

<body>
    {% block content %}
    <div class="container">
        <form class="form-horizontal 1" id="form-action">
            {% csrf_token %}
            <div class="form-group">
                <h1 style="text-align:center">Create Resume</h1>
                <h1 style="text-align:center">Personal Information</h1>
                <label for="firstname" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="firstname" id="pes-firstname" placeholder="John">
                    <span class="error">Firstname cannot be empty.<br></span>
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="lastname" id="pes-lastname" placeholder="Lennon">
                    <span class="error">Lastname cannot be empty.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="city" class="col-sm-2 control-label">city</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="city" id="pes-city" placeholder="Bangkok">
                    <span class="error">City cannot be empty.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="street" class="col-sm-2 control-label">Street</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="street" id="pes-street" placeholder="Seri-thai">
                    <span class="error">Street cannot be empty.<br></span>
                </div>
            </div>
            <div class="form-group">
                <label for="district" class="col-sm-2 control-label">District</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="district" id="pes-district" placeholder="Kannayorn">
                    <span class="error">District cannot be empty.<br></span>
                </div>
            </div>
            <div class="form-group">
                <label for="sub_district" class="col-sm-2 control-label">Sub district</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="sub_district" id="sub_district" placeholder="Kannayorn">
                    <span class="error">Sub district cannot be empty.<br></span>
                </div>
            </div>
            <div class="form-group">
                <label for="zipcode" class="col-sm-2 control-label">Zipcode</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="zipcode" id="pes-zipcode" placeholder="10000"></input>
                </div>
            </div>
            <div class="form-group">
                <label for="web" class="col-sm-2 control-label">Web</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="web" id="pes-web" placeholder="www.google.com"></input>
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="phone" id="pes-phone" placeholder="0801234567"></input>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="email" id="pes-email" placeholder="tam@eiei.com"></input>
                </div>
            </div>
            <div class="form-group">
                <label for="objective" class="col-sm-2 control-label">Objective</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="objective" id="pes-objective" placeholder="Make thailand great again."></input>
                </div>
            </div>
            <div class="form-group">
                <label for="reference" class="col-sm-2 control-label">Reference</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="reference" id="pes-reference" placeholder="References available upon request"></input>
                </div>
            </div>
            <div class="form-group">
                <h1 class="success">Successfully added</h1>
                <h1 class="failure">Please complete the form above. :3</h1>
            </div>
        </form>
        <form class="form-horizontal 2" id="form-action">
            {% csrf_token %}
            <div class="form-group">
                <h1 style="text-align:center">Create Resume 2</h1>
                <h1 style="text-align:center">Skill and Qulification</h1>
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" id="name" placeholder="CompanyName">
                    <span class="error">Company name cannot be empty.<br></span>
                    <span class="error name">Company name must unique .</span>
                </div>
            </div>
            <div class="form-group">
                <label for="jobtype" class="col-sm-2 control-label">Type</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="jobtype" id="jobtype" placeholder="jobtype">
                    <span class="error">Job type cannot be empty.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="income" class="col-sm-2 control-label">Income</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="income" id="income" placeholder="Ex. 500">
                    <span class="error">Income cannot be empty.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="rating" class="col-sm-2 control-label">Rating</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="rating" id="rating" placeholder="Ex. 4">
                    <span class="error">Rating cannot be empty.<br></span>
                    <span class="error rating">Rating cannot be more than 5.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="startDate" class="col-sm-2 control-label">Start Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="startDate" id="startDate">
                    <span class="error">Startdate cannot be empty.<br></span>
                </div>
            </div>
            <div class="form-group">
                <label for="endDate" class="col-sm-2 control-label">End Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="endDate" id="endDate">
                    <span class="error">Enddate cannot be empty.<br></span>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="description" id="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <h1 class="success">Successfully added</h1>
                <h1 class="failure">Please complete the form above. :3</h1>
            </div>
        </form>
        <form class="form-horizontal 3" id="form-action">
            {% csrf_token %}
            <div class="form-group">
                <h1 style="text-align:center">Create Resume</h1>
                <h1 style="text-align:center">Education</h1>
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" id="name" placeholder="CompanyName">
                    <span class="error">Company name cannot be empty.<br></span>
                    <span class="error name">Company name must unique .</span>
                </div>
            </div>
            <div class="form-group">
                <label for="jobtype" class="col-sm-2 control-label">Type</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="jobtype" id="jobtype" placeholder="jobtype">
                    <span class="error">Job type cannot be empty.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="income" class="col-sm-2 control-label">Income</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="income" id="income" placeholder="Ex. 500">
                    <span class="error">Income cannot be empty.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="rating" class="col-sm-2 control-label">Rating</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="rating" id="rating" placeholder="Ex. 4">
                    <span class="error">Rating cannot be empty.<br></span>
                    <span class="error rating">Rating cannot be more than 5.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="startDate" class="col-sm-2 control-label">Start Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="startDate" id="startDate">
                    <span class="error">Startdate cannot be empty.<br></span>
                </div>
            </div>
            <div class="form-group">
                <label for="endDate" class="col-sm-2 control-label">End Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="endDate" id="endDate">
                    <span class="error">Enddate cannot be empty.<br></span>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="description" id="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <h1 class="success">Successfully added</h1>
                <h1 class="failure">Please complete the form above. :3</h1>
            </div>
        </form>
        <form class="form-horizontal 4" id="form-action">
            {% csrf_token %}
            <div class="form-group">
                <h1 style="text-align:center">Create Resume</h1>
                <h1 style="text-align:center">Work Experience</h1>
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" id="name" placeholder="CompanyName">
                    <span class="error">Company name cannot be empty.<br></span>
                    <span class="error name">Company name must unique .</span>
                </div>
            </div>
            <div class="form-group">
                <label for="jobtype" class="col-sm-2 control-label">Type</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="jobtype" id="jobtype" placeholder="jobtype">
                    <span class="error">Job type cannot be empty.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="income" class="col-sm-2 control-label">Income</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="income" id="income" placeholder="Ex. 500">
                    <span class="error">Income cannot be empty.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="rating" class="col-sm-2 control-label">Rating</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" name="rating" id="rating" placeholder="Ex. 4">
                    <span class="error">Rating cannot be empty.<br></span>
                    <span class="error rating">Rating cannot be more than 5.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="startDate" class="col-sm-2 control-label">Start Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="startDate" id="startDate">
                    <span class="error">Startdate cannot be empty.<br></span>
                </div>
            </div>
            <div class="form-group">
                <label for="endDate" class="col-sm-2 control-label">End Date</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="endDate" id="endDate">
                    <span class="error">Enddate cannot be empty.<br></span>
                </div>
            </div>
            <div class="form-group">
                <label for="description" class="col-sm-2 control-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="description" id="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <h1 class="success">Successfully added</h1>
                <h1 class="failure">Please complete the form above. :3</h1>
            </div>
        </form>
        <div class="btn-pos">
            <div>
                <ul class="pagination">
                    <li><a href="#" id="page1">1</a></li>
                    <li><a href="#" id="page2">2</a></li>
                    <li><a href="#" id="page3">3</a></li>
                    <li><a href="#" id="page4">4</a></li>
                </ul>               
            </div>
            <div>
                <a class="btn btn-primary" href="#" role="button" id="submit">Submit</a>
                <a class="btn btn-primary" href="{% url 'list' %}" role="button" id="submit">List</a>
                <a class="btn btn-primary" href="{% url 'index' %}" role="button">Back</a>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block js %}
    <script src="{% static 'js/serializeObject.js' %}"></script>
    <script src="{% static 'js/csrf.js' %}"></script>
    <script src="{% static 'js/resume_validate.js' %}"></script>
    <script src="{% static 'js/resume.js' %}"></script>
    {% endblock %}

</body>

</html>
